.app {
    max-width: auto;
    margin: auto auto;
    font-family: 'Inter', sans-serif;
    background-color: rgb(255, 255, 255);
    display: block;
    height: 5000px;
  }
  
  @media screen and (max-width: 768px) {
    .app {
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .app {
      max-width: 320px;
    }
  }